*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif; 
}
/* header desgin  */
.container {padding: 50px 40px 0px 140px;}*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif; 
}
/* header desgin  */
.container {padding: 20px 40px 0px 140px;}
.intro-contant{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    align-items: center;
 

}
.intro-image{
    height: 340px;
    width: 290px;
}
h2.title {
    font-size: 35px;
    font-weight: 800;
    margin-top: 30px;
}
header{
    background-color: #FCEEF1;
}
p.text-intro {
    font-size: 10px;
    width: 100%;
    color: #A29A9C;
    padding-top: 10px;
    line-height: 15px;
    font-weight: 400;
    padding-bottom: 15px;
}
    button.btn {
        padding: 8px 12px;
        background: #E55473;
        border: none;
        border-radius: 5px;
        color: white;
    }
    
.intro-contant{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    align-items: center;
 

}
.intro-image{
    height: 300px;
    width: 300px;
}
h2.title {
    font-size: 30px;
    font-weight: 800;
    margin-top: 30px;
}
header{
    background-color: #FCEEF1;
}
p.text-intro {font-size: 10px;
    color: #A29A9C;
    padding-top: 10px;
    padding-bottom: 15px;
}
    button.btn {
        padding: 8px 12px;
        background: #E55473;
        border: none;
        border-radius: 5px;
        color: white;
    }
     /* header desgin end  */
     .f-title{
        color: #272727;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        padding-top: 20px;
        padding-bottom: 10px;
     }
     .f-text{
        color: rgba(39, 39, 39, 0.60);
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 30px;
     }
     .main-part{
        height: 100vh;
     }
     .featured-flower {
        text-align: center;
        width: 500px;
        overflow: hidden;
    }
    .all-box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }
    .box{
        padding-top: 30px;
        width: 400px;
        text-align: center;
        height: 200px;
    }
    .box1{
        border-radius: 300px 300px 0px 0px;
        background: rgba(167, 33, 98, 0.15);
    }
    .box2{
        border-radius: 300px 300px 0px 0px;
        background: rgba(5, 151, 160, 0.15);
    }
    .box3{
        border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
    }
    .flower{
        width: 160px;
        height: 189px;
    }
    .flower-img{
        padding: 10px 15px 10px 15px;
    }
    .flower-link{
        color: #272727;
        font-size: 10px;
        margin: auto;
    }
    .secound-part{
        height: 100vh;

    }
    .all-icon {display: flex;align-items: center;justify-content: space-around;border-radius: 8px;background: rgba(39, 39, 39, 0.05);width: 630px;margin-top: 70px;height: 160px;text-align: center;}
    .icon-image{
    width: 50px;
}
.icon-details{
    color: #272727;
    font-size: 10px;
    font-weight: 600;
    }